.imageCarousel {
  height: 50%;
  width: 50%;
  margin: 20px auto;
}

.imageCarousel > img {
  width: 100%;
  opacity: 1;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
}

#prev-button, #next-button {
  display: inline-block;
  padding: 8px 12px;
  width: auto;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  outline: none;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Agrego la funcionalidad de un boton */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

    /* Agrego la funcionalidad de un boton */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;

  cursor: pointer;

  /* colors */
  color: white;
  background-color: rgba(0,0,0,0.8);

  /* border */
  border-radius: 50%;

  /* CSS Transitions */
  transition: background-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;

  transition: color 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
}

#prev-button:hover, #next-button:hover {
  color: black;
  background: white;
}

/* Positioning */
#prev-button {
  position: absolute;
  top: 25%;
  margin-left: 5px;
}

#next-button {
  position: absolute;
  top: 25%;
  right: 25%;
  margin-right: 10px;
}
